/** {
	animation: hue-shift 15s infinite; 
}

@keyframes hue-shift {
	0%   { -webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg);}
	12%  { -webkit-filter: hue-rotate(45deg); filter: hue-rotate(45deg);}
	25%  { -webkit-filter: hue-rotate(90deg); filter: hue-rotate(90deg); }
	37%  { -webkit-filter: hue-rotate(135deg); filter: hue-rotate(135deg); }
	50%  { -webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg); }
	62%  { -webkit-filter: hue-rotate(225deg); filter: hue-rotate(225deg); }
	75%  { -webkit-filter: hue-rotate(270deg); filter: hue-rotate(270deg); }
	88%  { -webkit-filter: hue-rotate(315deg); filter: hue-rotate(315deg); }
	100% { -webkit-filter: hue-rotate(360deg); filter: hue-rotate(360deg); }
}*/